<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The ONE Oversea</title>
    <link rel="stylesheet" href="../public/styles/reset.css"/>
    <link rel="stylesheet" href="../public/styles/style.css"/>
</head>
<body>
    <div class="g-hd">
        <div class="g-wtop">
            The ONE Smart Piano | A piano that teaches you to play
        </div>
        <!--<div class="g-ban"></div>-->
        <div class="g-nav">
            <div class="nav-inner">
                <div class="logo"><span>The ONE</span><br/>-smart piano-</div>
                <ul class="navleft">
                    <li><a href="#">LIGHT KEYBOARD</a></li>
                    <li><a href="#">SMART PIANO</a></li>
                    <li><a href="#"><span class="point1">APP</span></a></li>
                </ul>
                <ul class="navright">
                    <li><a href="#"><span class="point2">About</span></a></li>
                    <li><a href="#">Press</a></li>
                    <li><a href="#">Support</a></li>
                    <li><a href="#">Shop</a></li>
                </ul>
            </div>
        </div>
        <div class="sub-nav">
            <div class="nav-inner">
                <div class="sub-left">
                    <h2>LIGHT KEYBOARD</h2>
                </div>
                <ul class="sub-right">
                    <li><a href="#">About</a></li>
                    <li><a href="#">Press</a></li>
                    <li><a href="#">Support</a></li>
                    <li><a href="#">Shop</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="g-bd">
        <div class="g-slider">
            <div class="slider-item">
              <div class="back-img1">
                  <div class="words">
                      <h2>MAIN TITLE TEXT</h2>
                      <p>Subtitle text</p>
                      <a class="button" href="#">How it works > </a>
                      <a class="button" href="#">Buy Now ></a>
                  </div>
              </div>
            </div>
            <div class="slider-item">
                <div class="back-img2">
                    <div class="words">
                        <h2>MAIN TITLE TEXT</h2>
                        <p>Subtitle text</p>
                        <a class="button" href="#">Button text</a>
                    </div>
                </div>
            </div>
            <div class="pointer">
                <span class="checked"></span>
                <span></span>
                <span></span>
            </div>
            <div class="arrow">
                <div class="arrow-l"></div>
                <div class="arrow-r"></div>
            </div>
        </div>
        <div class="g-section-index">
            <div class="section section-a">
                <div class="items">
                    <div class="item">
                        <img src="../public/images/test4.jpg" alt=""/>
                        <h3>Light up keys</h3>
                        <p>Use the Ionic tool to build, test, and run your apps. Make sure to substitute ios with android to build for Android.Then, try Ionic View to share your apps with testers and clients, or to easily test on new devices.</p>
                    </div>
                    <div class="item">
                        <img src="../public/images/test4.jpg" alt=""/>
                        <h3>Integrated video lessons</h3>
                        <p>Use the Ionic tool to build, test, and run your apps. Make sure to substitute ios with android to build for Android.Then, try Ionic View to share your apps with testers and clients, or to easily test on new devices.</p>
                    </div>
                    <div class="item">
                        <img src="../public/images/test4.jpg" alt=""/>
                        <h3>Piano games</h3>
                        <p>Use the Ionic tool to build, test, and run your apps. Make sure to substitute ios with android to build for Android.Then, try Ionic View to share your apps with testers and clients, or to easily test on new devices.</p>
                    </div>
                </div>
            </div>
            <div class="section section-b">
                <h2>Lights Show you which keys to play</h2>
                <p>Use the Ionic tool to build, test, and run your apps.</p>
                <p>Make sure to substitute ios with android to build for Android.Then, try share your apps with testers and clients</p>
                <div class="img-part">
                    <img src="../public/images/test5.jpg" alt=""/>
                    <div class="tip tip1">
                        1.Connect the piano to the free Smart Piano app
                    </div>
                    <div class="tip tip2">
                        2.Choose a video lesson,sheet music,or piano game
                    </div>
                    <div class="tip tip3">
                        3.Watch the key light up and show you which notes to play
                    </div>
                </div>
            </div>
            <div class="section section-c">
                <h2>Free app for iOS and Android</h2>
                <div class="intro">
                    <p>Use the Ionic tool to build, test, and run your apps. Make sure to substitute ios with android to build for Android.Then, try Ionic View to share your apps with testers and clients, or to easily test on new devices.</p>
                    <img src="../public/images/test4.jpg" alt=""/>
                </div>
                <img src="../public/images/ipad.jpg" alt=""/>
            </div>
            <div class="section section-d">
                <h2>Your own virtual instructor</h2>
                <p>Use the Ionic tool to build, test, and run your apps.</p>
                <p>Make sure to substitute ios with android to build for Android.Then, try share your apps with testers and clients</p>
                <div class="img-part">
                    <div class="img-info img-info1">
                        <div class="img-info-word">
                            <h3>What we got</h3>
                            <p>Use the Ionic tool to build Use the Ionic tool to build Use the Ionic tool to build,Make sure to substitute ios with android to build for Android</p>
                        </div>
                    </div>
                    <div class="img-info img-info2">
                        <div class="img-info-word">
                            <h3>What we got</h3>
                            <p>Use the Ionic tool to build Use the Ionic tool to build Use the Ionic tool to build,Make sure to substitute ios with android to build for Android</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section section-e">
                <div class="items">
                    <div class="item">
                        <img src="../public/images/test4.jpg" alt=""/>
                        <p>"Use the Ionic tool to build, test, and run your apps. Make sure to substitute ios with android to build for Android.Then, try Ionic View to share your apps with testers and clients, or to easily test on new devices."</p>
                        <h4>- Ryan Hickey,Piano teacher at Blue Bear school of music</h4>
                    </div>
                    <div class="item">
                        <img src="../public/images/test4.jpg" alt=""/>
                        <p>"Use the Ionic tool to build, test, and run your apps. Make sure to substitute ios with android to build for Android.Then, try Ionic View to share your apps with testers and clients, or to easily test on new devices."</p>
                        <h4>- Mom, Name from California</h4>
                    </div>
                    <div class="item">
                        <img src="../public/images/test4.jpg" alt=""/>
                        <p>"Use the Ionic tool to build, test, and run your apps. Make sure to substitute ios with android to build for Android.Then, try Ionic View to share your apps with testers and clients, or to easily test on new devices."</p>
                        <h4>- Mom, Name from California</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="g-ft">

    </div>
<script src="../public/scripts/jquery.min.js" charset="utf-8"></script>
<script src="../public/scripts/jquery.slider.js" charset="utf-8"></script>
<script src="../public/scripts/common.js" charset="utf-8"></script>
</body>
</html>
