<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The ONE Oversea</title>
    <link rel="stylesheet" href="../public/styles/reset.css"/>
    <link rel="stylesheet" href="../public/styles/style.css"/>
</head>
<body>
    <div class="g-hd">
        <div class="g-wtop">
            The ONE Smart Piano | A piano that teaches you to play
        </div>
        <div class="g-ban"></div>
        <div class="g-nav">
            <div class="nav-inner">
                <div class="logo"><span>The ONE</span><br/>-smart piano-</div>
                <ul class="navleft">
                    <li><a href="#">LIGHT KEYBOARD</a></li>
                    <li><a href="#">SMART PIANO</a></li>
                    <li><a href="#">APP</a></li>
                </ul>
                <ul class="navright">
                    <li><a href="#">About</a></li>
                    <li><a href="#">Press</a></li>
                    <li><a href="#">Support</a></li>
                    <li><a href="#">Shop</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="g-bd">
        <div class="m-slider">
            <div class="slider-item">
              <img src="../public/images/test2.jpg"/>
            </div>
            <div class="slider-item first">
              <img src="../public/images/test1.jpg"/>
            </div>
        </div>
    </div>
    <div class="g-ft">

    </div>
<script src="../public/scripts/jquery.min.js" charset="utf-8"></script>
<script src="../public/scripts/jquery.slider.js" charset="utf-8"></script>
</body>
</html>
