<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The ONE Oversea</title>
    <link rel="stylesheet" href="../public/styles/reset.css"/>
    <link rel="stylesheet" href="../public/styles/style.css"/>
</head>
<body>
<div class="g-hd">
    <div class="g-wtop">
        The ONE Smart Piano | A piano that teaches you to play
    </div>
    <!--<div class="g-ban"></div>-->
    <div class="g-nav">
        <div class="nav-inner">
            <div class="logo"><a href="/views/index.html"><span>The ONE</span></a><br/>-smart piano-</div>
            <ul class="navleft">
                <li><a href="#">LIGHT KEYBOARD</a></li>
                <li><a href="#">SMART PIANO</a></li>
                <li><a href="#"><span class="point1">APP</span></a></li>
            </ul>
            <ul class="navright">
                <li><a href="#"><span class="point2">About</span></a></li>
                <li><a href="/views/press.html">Press</a></li>
                <li><a href="/views/support.html">Support</a></li>
                <li><a href="/views/shop.html">Shop</a></li>
            </ul>
        </div>
    </div>
    <div class="sub-nav">
        <div class="nav-inner">
            <div class="sub-left">
                <h2>PRESS</h2>
            </div>
        </div>
    </div>
</div>
<div class="g-bd">
    <div class="g-press">
        <div class="section section-a">
            <div class="press-con">
                <div class="press-l">
                    <h3>Latest Awards</h3>
                    <div class="press-ins">
                        <img src="../public/images/6.jpg"/>
                        <h4>CES Innovation Award</h4>
                        <h4>2016</h4>
                        <p>The ONE Smart Piano was the recipient of the CES Innovation award with an Honoree status.</p>
                    </div>
                    <div class="press-ins">
                        <img src="../public/images/7.jpg"/>
                        <h4>NAMM Award</h4>
                        <h4>2016</h4>
                        <p>Times, they are changing. Music education evolves right along with them.</p>
                    </div>
                </div>
                <div class="press-r">
                    <h3>Latest hits</h3>
                    <div class="press-item">
                        <div class="media">
                            <img src="../public/images/cnr.png"/>
                            <h5>USA Today</h5>
                        </div>
                        <p>I’ve always wanted to play the piano but never got around to taking lessons. <br><a href="#">Read more....</a></p>
                    </div>
                    <div class="press-item">
                        <div class="media">
                            <img src="../public/images/asiaott.png"/>
                            <h5>Gizmag</h5>
                        </div>
                        <p>The ONE piano learning system also has an iOS/Android app at its heart. <br><a href="#">Read more....</a></p>
                    </div>
                    <div class="press-item">
                        <div class="media">
                            <img src="../public/images/economist.png"/>
                            <h5>Economist</h5>
                        </div>
                        <p>Consider The ONE, a brilliantly conceived piano. <br><a href="#">Read more....</a></p>
                    </div>
                    <div class="press-item">
                        <div class="media">
                            <img src="../public/images/163tech.png"/>
                            <h5>News outlet</h5>
                        </div>
                        <p>The ONE Smart Piano could make learning to play much more fun. <br> <a href="#">Read more....</a></p>
                    </div>
                    <a href="#" class="see-more">See more ></a>
                </div>
            </div>
        </div>
        <div class="section section-b">
            <h2>"Amazing quote number one"</h2>
            <p class="say">- Famous dude, Artist</p>
            <div class="items-4 textleft">
                <div class="item">
                    <img src="../public/images/test4.jpg"/>
                    <p>"He sat down, played through a few scales and rifts, and declared that the piano was something he would be interested in getting for his daughter."</p>
                    <h4>-- Stevie Wonder</h4>
                </div>
                <div class="item">
                    <img src="../public/images/test4.jpg"/>
                    <p>"It’s a great way to learn piano, I’m actually gonna use it all the time because there’s a lot stuff I want play."</p>
                    <h4>-- Stephen Bradley, Singer of No Doubt</h4>
                </div>
                <div class="item">
                    <img src="../public/images/test4.jpg"/>
                    <p>The beauty of science is that it can lower the threshold, and let more people to experience the beauty of creating music.</p>
                    <h4>-- Ge Wang, CEO of Smule</h4>
                </div>
                <div class="item">
                    <img src="../public/images/test4.jpg"/>
                    <p>Start your piano journey with The ONE.</p>
                    <h4>-- Lang Lang, World class pianist</h4>
                </div>
            </div>
            <h2>"Amazing quote number two"</h2>
            <p class="say">- Famous dude, New Outlet</p>
            <div class="items-4">
                <div class="item">
                    <img src="../public/images/economist.png"/>
                    <h4>The New York Times</h4>
                    <p>“A Fighting Hero”</p>
                </div>
                <div class="item">
                    <img src="../public/images/economist.png"/>
                    <h4>FOX 4 News</h4>
                    <p>The first time we sat down with this, we were playing the piano.</p>
                </div>
                <div class="item">
                    <img src="../public/images/economist.png"/>
                    <h4>cInet</h4>
                    <p>This smart keyboard will teach you how to play it.</p>
                </div>
                <div class="item">
                    <img src="../public/images/economist.png"/>
                    <h4>Discovery Channel</h4>
                    <p>The accompanying app features hundreds of songs.</p>
                </div>
            </div>
            <div class="items-4">
                <div class="item">
                    <img src="../public/images/economist.png"/>
                    <h4>The Verge</h4>
                    <p>The ONE Smart Piano teaches you to play using an iPad.</p>
                </div>
                <div class="item">
                    <img src="../public/images/economist.png"/>
                    <h4>Uber Gizmo</h4>
                    <p>You plug your iOS device, like an iPad , to the instrument.</p>
                </div>
                <div class="item">
                    <img src="../public/images/economist.png"/>
                    <h4>USA Today</h4>
                    <p>[The ONE is] a patient instructor who is willing to let me proceed at my own pace.</p>
                </div>
                <div class="item">
                    <img src="../public/images/economist.png"/>
                    <h4>Apple Insider</h4>
                    <p>Aspiring musicians looking to learn to play piano should check out The ONE.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="g-ft">

</div>
<script src="../public/scripts/jquery.min.js" charset="utf-8"></script>
<script src="../public/scripts/common.js" charset="utf-8"></script>
</body>
</html>
