<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The ONE Oversea</title>
    <link rel="stylesheet" href="../public/styles/reset.css"/>
    <link rel="stylesheet" href="../public/styles/style.css"/>
</head>
<body>
<div class="g-hd">
    <div class="g-wtop">
        The ONE Smart Piano | A piano that teaches you to play
    </div>
    <!--<div class="g-ban"></div>-->
    <div class="g-nav">
        <div class="nav-inner">
            <div class="logo"><a href="/views/index.html"><span>The ONE</span></a><br/>-smart piano-</div>
            <ul class="navleft">
                <li><a href="#">LIGHT KEYBOARD</a></li>
                <li><a href="#">SMART PIANO</a></li>
                <li><a href="#"><span class="point1">APP</span></a></li>
            </ul>
            <ul class="navright">
                <li><a href="#"><span class="point2">About</span></a></li>
                <li><a href="/views/press.html">Press</a></li>
                <li><a href="/views/support.html">Support</a></li>
                <li><a href="/views/shop.html">Shop</a></li>
            </ul>
        </div>
    </div>
    <div class="sub-nav">
        <div class="nav-inner">
            <div class="sub-left">
                <h2>PRESS</h2>
            </div>
        </div>
    </div>
</div>
<div class="g-bd">
    <div class="g-press">
        <div class="section section-a">
            <div class="press-con">
                <div class="press-l">
                    <h3>Latest Awards</h3>
                    <div class="press-ins">
                        <img src="../public/images/6.jpg"/>
                        <h4>CES Innovation Award</h4>
                        <h4>2016</h4>
                        <p>I know you think that I shouldn't still love you,Where's the sense in that?I promise I'm not trying to make your life harder.</p>
                    </div>
                    <div class="press-ins">
                        <img src="../public/images/7.jpg"/>
                        <h4>NAMM Award</h4>
                        <h4>2016</h4>
                        <p>I got to tell you a little something about yourself,You're wonderful, flawless,you're a sexy lady,Treasure, that means what you are.</p>
                    </div>
                </div>
                <div class="press-r">
                    <h3>Latest hits</h3>
                    <div class="press-item">
                        <div class="media">
                            <img src="../public/images/cnr.png"/>
                            <h5>USA Today</h5>
                        </div>
                        <p>Smart Piano is the best thing on the planet and this is proof of it . <a href="#">Read more....</a></p>
                    </div>
                    <div class="press-item">
                        <div class="media">
                            <img src="../public/images/asiaott.png"/>
                            <h5>Asiaott</h5>
                        </div>
                        <p>Smart Piano is the best thing on the planet and this is proof of it . <a href="#">Read more....</a></p>
                    </div>
                    <div class="press-item">
                        <div class="media">
                            <img src="../public/images/economist.png"/>
                            <h5>Economist</h5>
                        </div>
                        <p>Smart Piano is the best thing on the planet and this is proof of it . <a href="#">Read more....</a></p>
                    </div>
                    <div class="press-item">
                        <div class="media">
                            <img src="../public/images/163tech.png"/>
                            <h5>News outlet</h5>
                        </div>
                        <p>Smart Piano is the best thing on the planet and this is proof of it . <a href="#">Read more....</a></p>
                    </div>
                    <a href="#" class="see-more">See more ></a>
                </div>
            </div>
        </div>
        <div class="section section-b">

        </div>
    </div>
</div>
<div class="g-ft">

</div>
<script src="../public/scripts/jquery.min.js" charset="utf-8"></script>
<script src="../public/scripts/common.js" charset="utf-8"></script>
</body>
</html>
