<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The ONE Oversea</title>
    <link rel="stylesheet" href="../public/styles/reset.css"/>
    <link rel="stylesheet" href="../public/styles/style.css"/>
</head>
<body>
<div class="g-hd">
    <div class="g-wtop">
        The ONE Smart Piano | A piano that teaches you to play
    </div>
    <!--<div class="g-ban"></div>-->
    <div class="g-nav">
        <div class="nav-inner">
            <div class="logo"><a href="/views/index.html"><span>The ONE</span></a><br/>-smart piano-</div>
            <ul class="navleft">
                <li><a href="#">LIGHT KEYBOARD</a></li>
                <li><a href="#">SMART PIANO</a></li>
                <li><a href="#"><span class="point1">APP</span></a></li>
            </ul>
            <ul class="navright">
                <li><a href="#"><span class="point2">About</span></a></li>
                <li><a href="/views/press.html">Press</a></li>
                <li><a href="/views/support.html">Support</a></li>
                <li><a href="/views/shop.html">Shop</a></li>
            </ul>
        </div>
    </div>
    <div class="sub-nav">
        <div class="nav-inner">
            <div class="sub-left">
                <h2>SHOP</h2>
            </div>
        </div>
    </div>
</div>
<div class="g-bd">
    <div class="g-shop">
        <div class="section section-a">
            <div class="container">
                <div class="shop-part">
                    <img src="../public/images/product-2.jpg"/>
                    <div class="shop-part-r">
                        <h3>The ONE Light Keyboard</h3>
                        <p>$299</p>
                        <p>You only need the light when it's burning low </p>
                        <p>Only miss the sun when it starts to snow</p>
                        <p>Only know you love her when you let her go </p>
                        <a class="button" href="#">Add to cart</a>
                    </div>
                </div>
                <br/>
                <div class="shop-part">
                    <img src="../public/images/product-1.jpg"/>
                    <div class="shop-part-r">
                        <h3>The ONE Smart Piano</h3>
                        <p>$1499</p>
                        <p>You only need the light when it's burning low </p>
                        <p>Only miss the sun when it starts to snow</p>
                        <p>Only know you love her when you let her go </p>
                        <a class="button" href="#">Add to cart</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-b">
            <h2>Compare models</h2>
            <div class="compare">
                <div class="compare-l">
                    <img src="../public/images/product-2.jpg"/>
                    <h3>The ONE Light Keyboard</h3>
                    <p>$299</p>
                    <div class="intro1">
                        <p>61 backlit keys</p>
                        <p>Touch responsive keys</p>
                        <p>36.9`` × 13.3`` × 1.0``</p>
                        <p>11lb(5kg)</p>
                    </div>
                    <br/>
                    <div class="intro2">
                        <ul>
                            <li>You take my breath and you hold it inside </li>
                            <li>You creep slow like a thief in the night </li>
                            <li>You take my breath and you hold it inside </li>
                            <li>Oh you hold it inside </li>
                            <li>You hold it inside </li>
                        </ul>
                        <ul>
                            <li>You take my breath and you hold it inside </li>
                            <li>You creep slow like a thief in the night </li>
                            <li>You take my breath and you hold it inside </li>
                            <li>Oh you hold it inside </li>
                            <li>You hold it inside </li>
                        </ul>
                    </div>
                    <br/>
                    <a class="button" href="#">Add to cart</a>
                </div>
                <div class="compare-r">
                    <img src="../public/images/product-1.jpg"/>
                    <h3>The ONE Light Keyboard</h3>
                    <p>$299</p>
                    <div class="intro1">
                        <p>61 backlit keys</p>
                        <p>Touch responsive keys</p>
                        <p>36.9`` × 13.3`` × 1.0``</p>
                        <p>11lb(5kg)</p>
                    </div>
                    <br/>
                    <div class="intro2">
                        <ul>
                            <li>You take my breath and you hold it inside </li>
                            <li>You creep slow like a thief in the night </li>
                            <li>You take my breath and you hold it inside </li>
                            <li>Oh you hold it inside </li>
                            <li>You hold it inside </li>
                        </ul>
                        <ul>
                            <li>You take my breath and you hold it inside </li>
                            <li>You creep slow like a thief in the night </li>
                            <li>You take my breath and you hold it inside </li>
                            <li>Oh you hold it inside </li>
                            <li>You hold it inside </li>
                        </ul>
                    </div>
                    <br/>
                    <a class="button" href="#">Add to cart</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="g-ft">

</div>
<script src="../public/scripts/jquery.min.js" charset="utf-8"></script>
<script src="../public/scripts/common.js" charset="utf-8"></script>
</body>
</html>
