<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The ONE Oversea</title>
    <link rel="stylesheet" href="../public/styles/reset.css"/>
    <link rel="stylesheet" href="../public/styles/style.css"/>
</head>
<body>
<div class="g-hd">
    <div class="g-wtop">
        The ONE Smart Piano | A piano that teaches you to play
    </div>
    <!--<div class="g-ban"></div>-->
    <div class="g-nav">
        <div class="nav-inner">
            <div class="logo"><span>The ONE</span><br/>-smart piano-</div>
            <ul class="navleft">
                <li><a href="#">LIGHT KEYBOARD</a></li>
                <li><a href="#">SMART PIANO</a></li>
                <li><a href="#"><span class="point1">APP</span></a></li>
            </ul>
            <ul class="navright">
                <li><a href="#"><span class="point2">About</span></a></li>
                <li><a href="/views/press.html">Press</a></li>
                <li><a href="/views/support.html">Support</a></li>
                <li><a href="/views/shop.html">Shop</a></li>
            </ul>
        </div>
    </div>
    <div class="sub-nav">
        <div class="nav-inner">
            <div class="sub-left">
                <h2>SUPPORT</h2>
            </div>
        </div>
    </div>
</div>
<div class="g-bd">
    <div class="g-support">
        <div class="top-logo">
            <div class="top-logo-l">
                The ONE
            </div>
            <div class="top-logo-r">
                <a href="#">Submit a request</a>
                <a href="#">Sign in</a>
            </div>
        </div>
        <div class="search-input">
            <input type="text" placeholder="Search"/>
        </div>
        <div class="faq">
            <div class="faq-top">
                FAQ`s
            </div>
            <div class="faqs">
                <h3>How are you now?</h3>
                <p>Make sure to substitute ios with ure ure to substitute ios with to substitute ios with android ios with android ios with android to build for Android.Then, try share your apps with testers and clients</p>
            </div>
            <div class="faqs">
                <h3>How are you now?</h3>
                <p>Make sure to substitute Make sure to substitute ios withMake sure to substitute ios withios with ure ure to substitute ios with to substitute ios with android ios with android ios with android to build for Android.Then, try share your apps with testers and clients</p>
            </div>
            <div class="faqs">
                <h3>How are you now?</h3>
                <p>Make sure to substitute ios with Make sure to substitute ios withure ure to substitute ios with to substitute ios with android ios with android ios with android to build for Android.Then, try share your apps with testers and clients</p>
            </div>
        </div>
    </div>
</div>
<div class="g-ft">

</div>
<script src="../public/scripts/jquery.min.js" charset="utf-8"></script>
<script src="../public/scripts/common.js" charset="utf-8"></script>
</body>
</html>
